# System
.DS_Store
__pycache__/

# Environments
.env
.venv
env/
venv/

# Large Model Files
models/*.h5
models/*.onnx
models/*.pth
models/*.pb

# Data & Output
datasets/
output_plots/
density_db.xlsx

# Dev Archive
dev_archive/
build/*
dist/*
*.egg-info

# Filetypes to ignore
*.pyc
*.h5
*.hdf5

# Files to NOT ignore
!datasets/EPIC_KITCHENS_2018/
!datasets/EPIC_KITCHENS_2018/config.json
!datasets/EPIC_KITCHENS_2018/data_sources_example
!datasets/food_videos_dataset/
!datasets/food_videos_dataset/config.json
!datasets/food_videos_dataset/data_sources_example
!datasets/UNIMIB2016/
!datasets/UNIMIB2016/annotations.json
!datasets/UNIMIB2016/orient_images.sh
!assets/readme_assets/
!models/models.md

